<ion-header>
    <ion-toolbar>
        <ion-title>
            Change Password
        </ion-title>
        <ion-buttons slot="end">
            <ion-icon name="close" (click)="closeModal()" size="large"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
    
<ion-content>
    <form [formGroup]="changePasswordForm" (ngSubmit)="save(changePasswordForm)">
        <div padding>
            <ion-item>
                <ion-input [(ngModel)]="changePasswordForm.oldPassword" formControlName="oldPassword" type="password" spellcheck="false" autocapitalize="off"
                placeholder="Your Old Password"
                required>
                </ion-input>
            </ion-item>
            <ion-item>
                <ion-input [(ngModel)]="changePasswordForm.newPassword" formControlName="newPassword" type="password" spellcheck="false" autocapitalize="off"
                placeholder="Your New Password"
                required>
                </ion-input>
            </ion-item>
            <ion-item>
                <ion-input [(ngModel)]="changePasswordForm.confirmPassword" formControlName="confirmPassword" id="confirmPassword" type="password" spellcheck="false" autocapitalize="off"
                placeholder="Confirm Password"
                required>
                </ion-input>
            </ion-item>
            <ion-label *ngIf="changePasswordForm.controls['confirmPassword'].errors?.MatchPassword" style="color: red">New password and Confirm password did not match</ion-label>
        </div>

        <div padding>
          <ion-button size="medium" type="submit" expand="block" [disabled]="!changePasswordForm.valid">Save</ion-button>
        </div>
    </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <p text-center>Copyright(c) {{durationYear}} Carewell</p>
  </ion-toolbar>
</ion-footer>